* {
  font-family: arial, sans-serif;
  justify-content: center;
}

#wrapper {
  text-align: center;
}

#calcMain{
  margin: auto;
  font-size: 20px;
  justify-content: center;
  width: 420px;
}

#row1{}

#display {
  height: 100px;
  width: 400px;
  background-color: rgb(87, 170, 70);
  color: white;
  line-height: 50px;
  border-radius: 5px;
}

#row2{}

#number7 {
  height: 100px;
  width: 100px;
}

#number7B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number8 {
  height: 100px;
  width: 100px;
}

#number8B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number9 {
  height: 100px;
  width: 100px;
}

#number9B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorDiv {
  height: 100px;
  width: 100px;

}

#operatorDivB {
  background: rgb(118, 185, 106)
}

#row3

#number4  {
  height: 100px;
  width: 100px;
}

#number4B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number5 {
  height: 100px;
  width: 100px;
}

#number5B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number6 {
  height: 100px;
  width: 100px;
}

#number6B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorMult {
  height: 100px;
  width: 100px;
}

#operatorMultB {
  background: rgb(118, 185, 106)
}

#row4

#number1 {
  height: 100px;
  width: 100px;
}

#number1B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number2 {
  height: 100px;
  width: 100px;
}

#number2B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#number3 {
  height: 100px;
  width: 100px;
}

#number3B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorSub {
  height: 100px;
  width: 100px;
}

#operatorSubB {
  background: rgb(118, 185, 106)
}

#row5{}

#number0 {
  height: 100px;
  width: 100px;
}

#number0B {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorDec {
  height: 100px;
  width: 100px;
}

#operatorDecB {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorEqu {
  height: 100px;
  width: 100px;
}

#operatorEquB {
  background-color: rgb(87, 170, 70);
  color: white;
}

#operatorAdd {
  height: 100px;
  width: 100px;
}

#operatorAddB {
  background: rgb(118, 185, 106)
}

#row6 {}

#operatorClear {
  height: 100px;
  width: 100px;
}

#operatorClearB {
  background: rgb(118, 185, 106)
}

#operatorPast {
  height: 100px;
  width: 100px;
}

#operatorPastB {
  background: rgb(118, 185, 106)
}

#operatorModulo {
  height: 100px;
  width: 100px;
}

#operatorModuloB {
  background: rgb(118, 185, 106)
}

#operatorSQRt {
  height: 100px;
  width: 100px;
}

#operatorSQRtB {
  background: rgb(118, 185, 106)
}

#history {
  display: flex;
  background: grey;
  width: 400px;
  margin: auto;
  color: rgb(118, 185, 106)
}

.row {
  display: inline-block;
  /*width: 100%;*/
  justify-content: center;
}

.row div {
  float: left;
}

.operator{}

.number{}

.button{}

.sButton {
  height: 100%;
  width: 100%;
}

.mButton {
  height: 100%;
  width: 100%;
}

body {}

h1{}

div{}

input {
  height: 100px;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

button {
  font-size: 20px;
  font-weight: 200;
  border-radius: 5px;
}

input {
  font-size: 20px;
  font-weight: 200;
  border-radius: 5px;
}
