* {
  font-family: arial, sans-serif;
}

#wrapper {
  text-align: center;
}

#calcMain{
  margin: auto;
  font-size: 20px;
}

#row1{}

#display {
  height: 100px;
  width: 400px;
  background-color: rgb(240, 240, 240);
}

#row2{}

#number7 {
  height: 100px;
  width: 100px;
}

#number7B {}

#number8 {
  height: 100px;
  width: 100px;
}

#number8B {}

#number9 {
  height: 100px;
  width: 100px;
}

#number9B {}

#operatorDiv {
  height: 100px;
  width: 100px;
}

#operatorDivB {}

#row3

#number4  {
  height: 100px;
  width: 100px;
}

#number4B {}

#number5 {
  height: 100px;
  width: 100px;
}

#number5B {}

#number6 {
  height: 100px;
  width: 100px;
}

#number6B {}

#operatorMult {
  height: 100px;
  width: 100px;
}

#operatorMultB {}

#row4

#number1 {
  height: 100px;
  width: 100px;
}

#number1B {}

#number2 {
  height: 100px;
  width: 100px;
}

#number2B {}

#number3 {
  height: 100px;
  width: 100px;
}

#number3B {}

#operatorSub {
  height: 100px;
  width: 100px;
}

#operatorSubB {}

#row5{}

#number0 {
  height: 100px;
  width: 100px;
}

#number0B {}

#operatorDec {
  height: 100px;
  width: 100px;
}

#operatorDecB {}

#operatorEqu {
  height: 100px;
  width: 100px;
}

#operatorEquB {}

#operatorAdd {
  height: 100px;
  width: 100px;
}

#operatorAddB {}

#row6 {}

#operatorClear {
  height: 100px;
  width: 100px;
}

#operatorClearB {}

#operatorPast {
  height: 100px;
  width: 100px;
}

#operatorPastB {}

#operatorModulo {
  height: 100px;
  width: 100px;
}

#operatorModuloB {}

#operatorSQRt {
  height: 100px;
  width: 100px;
}

#operatorSQRtB {}

.row {
  float: left;
  width: 100%;
  justify-content: center;
}

.row div {
  float: left;
}

.operator{}

.number{}

.button{}

.sButton {
  height: 100%;
  width: 100%;
}

.mButton {
  height: 100%;
  width: 100%;
}

.display{}

body {}

h1{}

div{}

input {
  height: 100px;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

button {
  font-size: 20px;
  font-weight: 200;
}

input {
  font-size: 20px;
  font-weight: 200;  
}

.noShow {
  position: relative;
  margin-top: -65px;
}
