* {}

#wrapper {
  text-align: center;
}

#calcMain{}

#row1{}

#display {
  height: 100px;
  width: 400px;
}

#row2{}

#number7 {
  height: 100px;
  width: 100px;
}

#number8 {
  height: 100px;
  width: 100px;
}

#number9 {
  height: 100px;
  width: 100px;
}

#operatorDiv {
  height: 100px;
  width: 100px;
}

#row3

#number4  {
  height: 100px;
  width: 100px;
}

#number5 {
  height: 100px;
  width: 100px;
}

#number6 {
  height: 100px;
  width: 100px;
}

#operatorMult {
  height: 100px;
  width: 100px;
}

#row4

#number1 {
  height: 100px;
  width: 100px;
}

#number2 {
  height: 100px;
  width: 100px;
}

#number3 {
  height: 100px;
  width: 100px;
}

#operatorSub {
  height: 100px;
  width: 100px;
}

#row5{}

#number0 {
  height: 100px;
  width: 100px;
}

#operatorDec {
  height: 100px;
  width: 100px;
}

#operatorEqu {
  height: 100px;
  width: 100px;
}

#operatorAdd {
  height: 100px;
  width: 100px;
}

#row6 {
  margin-bottom: 200px;
}

#operatorClear {
  height: 100px;
  width: 100px;
}

#operatorPast {
  height: 100px;
  width: 100px;
}

#operatorModulo {
  height: 100px;
  width: 100px;
}

#operatorSQRt {
  height: 100px;
  width: 100px;
}

.row {
  float: left;
  width: 100%;
  justify-content: center;
}

.row div {
  float: left;
}

.operator{}

.number{}

.button{}

.sButton {
  height: 100%;
  width: 100%;
}

.mButton {
  height: 100%;
  width: 100%;
}

.display{}

body {}

h1{}

div{}

input {}
